.App {
    border:1px solid #dadde1;
    background-color: #175689;
    margin: 20px auto;
    padding: 20px 20px;
    border-radius: 7px;
    font-family: 'Secular One', sans-serif;
    max-width: 600px; /*this sets the container size*/
    margin: 0 auto; /*this centers the whole weather app inside container*/
    color: whitesmoke;
}
.App footer{
    color: white;
}

.App form{
    margin-bottom: 15px;
}

.App .city{
    font-size: 45px;
}

.App h1{
    position: relative;
    top: 20px;
}